.widgetOrderStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    background-color: #afafaf0f;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  